
<div class="container">
    <div class="title">
        <h1>Expanse Calculator</h1>
        <p>hiteshpatelic</p>
    </div>
    <form action="/calculateIncome" method="POST">
        <div class="input">
            <label for="name">Enter Your Name</label>
            <input type="text" name="name" placeholder="Enter youtr name......">
        </div>
        <div class="input">
            <label for="income">Enter Your total income</label>
            <input type="number" name="salary" placeholder="Enter your current total salary.....">
        </div>
        <div class="btn">
            <button type="submit"> Start calculate expense</button>
        </div>
    </form>
</div>